body {
    font-family: 'Quicksand', sans-serif; 
}

a:link {
    text-decoration: none;
    color: rgb(33, 55, 89);
}
  
a:visited {
    color: rgba(108, 64, 6, 0.966);
}
  
a:hover {
    color: rgba(236, 191, 12, 0.667);
}
  
.wrapper {
    padding-left: 7%;
    padding-top: 20px;
    padding-right: 7%;
    padding-bottom: 3%;
}

.bg-image {
    width: 100%;
    background: url('./bg.jpg') no-repeat;
    opacity: 0.92;
    background-size: cover;
    height: 220px;
    position: absolute;
    z-index: -1;
}

.row-ava {
    margin-top: 120px;
    margin-bottom: 2%;
}

.col-ava {
    padding-left: 10%;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 576px) {
    .col-ava {
        padding: 0%;
    }
}

.img-avatar {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-txt {
    padding-bottom: 1%;
}    

.h-name {
    text-align: left;
    color: rgba(108, 64, 6, 0.966);
    font-family: 'Suwannaphum', serif;
}

@media only screen and (max-width: 576px) {
    .text-small-center {
       text-align: center;
       padding-top: 3%;
    }
}


.bio {
    padding-left: 9.5%;
    padding-right: 4%;
    margin-bottom: 1.2em;
    font-size: medium;
    text-align: justify;
}

@media only screen and (max-width: 991.98px) {
    .bio {
       padding-left: 0%;
    }
}


.l2-label {
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-bottom: 0.7em;
    border-bottom: 1px solid rgb(29, 55, 75);
    font-family: 'Manrope', sans-serif;
}

.cont-facts {
    margin-top: 2.5em;
}

.dates {
    padding-bottom: 0.6em;
}

.cont-info {
    margin-bottom: 2em;    
}

#work.cont-info {
    padding-right: 4%;
}

#certs.cont-info {
    line-height: 2.5;    
}

.text-skills {
    text-align: justify;
}
